<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>


<div class="row">
  <% for entry in @entries do %>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 w-100">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title"><%= entry["title"] %></h3>
          <h6 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h6>
          <% if entry.uploaded_image.attached? %>
            <div class="card-image mb-2">
              <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid" >
            </div>
          <% end %>
          <p class="card-text"><%= entry["description"] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<p>
  <a class="btn btn-primary" href="/entries/new?place_id=<%= @place["id"] %>" role="button">New Entry</a>  
</p>

<p>
  <a class="btn btn-primary" href="/places/" role="button">Back to All Places</a>  
</p>

