<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>

<div class="row">
  <% for entry in @entries do %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title"><%= entry["title"] %></h3>
          <h6 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h6>
          <p class="card-text"><%= entry["description"] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
  <a class="btn btn-primary" href="/entries/new?place_id=<%= @place["id"] %>" role="button">New Entry</a>  
</p>

<p>
  <a class="btn btn-primary" href="/places/" role="button">Back to All Places</a>  
</p>

